{
  "extends": [
    "airbnb"
//    "plugin:react/recommended"
  ],

  // We use 'babel-eslint' mainly for React Native Classes
  "parser": "babel-eslint",
  "ecmaFeatures": {
    "classes": true
  },
  "rules": {
   "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],

    // React Native includes images via require('../images/example.png')
    "global-require": "off",
    "linebreak-style": ["error", "windows"],
    "semi": "off"
  }
}